
em { font-size: 14px; }
blockquote {
  font-family: 'Pretendard_Bold';
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 25px;
}
blockquote > p {
  font-family: 'Pretendard_Bold';
  display: flex;
  align-items: center;
  gap: 10px;
}
blockquote > p::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #323232;
  border-radius: 100px;
}

ul > li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 3px;
}
ul > li::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border:1px solid #323232;
  border-radius: 100px;
}

ol { padding-left: 30px; margin: 5px 0 15px; }
ol li {
  margin-bottom: 3px;
}
ol+p {
  padding-left: 30px;
  margin-bottom: 30px;
}