:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;
  --main_color : #00C9A7;
  --white_color: #ffffff;
  --black_color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'BebasNeue';
  src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  ascent-override: 100%;
}
@font-face {
  font-family: 'NotoSerifKR_Bold';
  src: url('/fonts/NotoSerifKR-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'NotoSerifKR_Medium';
  src: url('/fonts/NotoSerifKR-Medium.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard_Bold';
  src: url('/fonts/Pretendard-Bold.subset.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard_SemiBold';
  src: url('/fonts/Pretendard-SemiBold.subset.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard_Regular';
  src: url('/fonts/Pretendard-Regular.subset.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: 'Pretendard_Regular';
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a { color: var(--black_color); text-decoration: none; }
ul,li { list-style: none; }

.sr-only {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}

img {
  vertical-align: bottom;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}
