@config "../tailwind.config.ts";
@import "tailwindcss";

@font-face {
  font-family: "BebasNeue";
  src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  ascent-override: 100%;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-SemiBold.subset.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.subset.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "SUIT";
  src: url("/fonts/SUIT-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "SUIT";
  src: url("/fonts/SUIT-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "SUIT";
  src: url("/fonts/SUIT-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "SUIT";
  src: url("/fonts/SUIT-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "SUIT";
  src: url("/fonts/SUIT-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@layer base {
  :root {
    --font-sans: SUIT, ui-sans-serif, system-ui;
    --background: #f8faf9;
  }
  * {
    line-height: 1.5;
  }
  body {
    font-family: var(--font-sans);
    font-weight: 500;
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    line-height: 1.5;
    background: var(--background);
  }
}

video {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
main {
  padding-bottom: 100px;
}

a {
  color: var(--black_color);
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

/* strong,
.ff-b {
  font-family: "Pretendard_Bold";
} */

img {
  vertical-align: bottom;
}

button:focus-visible {
  outline: 2px solid var(--main_color);
}
/* 스크롤바 숨기기  */
.scroll {
  -ms-overflow-style: none; /* IE */
  scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera, Edge */
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}
